
.Header {
  height: 140px;
  max-width: 720px;
  width: 80%;
  float: left;
  position: fixed;
  background: white;
}

.CarDetails {
	display: inline-block;
	height: 70%;
	width: 100%;
	text-align: left;
}

.Navbar {
  	height: 30%;
  	background: #f6f6f6;
}

.CloseImage {
	width: 15px;
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
}

.CloseButton {
	position: fixed;
	margin-top: 20px;
	margin-left: 20px;
}

.CloseImage:hover {

}

.CarImage {
  position: fixed;
  width: 15%;
  max-width: 150px;
  margin-left: 60px;
  margin-top: 20px;
}

.InfoImage {
	width: 17px;
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
}

.InfoButton {
  position: absolute;
  float: right;
  top: 0;
  right: 0;
  margin-right: 20px;
  margin-top: 20px;
}

.HeaderText {
  margin-top: 26px;
	text-align: center;
	font-family: "Helvetica Neue";
}

.Line1 {
	font-size: 18px;
}

.Line2 {
	font-size: 16px;
	color: #888888;
}


/* This handles the navigation */

.NavbarList {
  	list-style: none;
  	text-align: center;
  	margin-left: -35px;
}

.NavbarListItem {
  	display: inline-block;
  	margin-left: 15px;
  	margin-right: 15px;
}


.NavbarListItemLink {
  	display: inline-block;
  	text-decoration: none;
  	font-family: "Helvetica Neue";
  	font-size: 16px;
  	line-height: 40px;
  	color: #888888;
  	padding-left: 20px;
  	padding-right: 20px;

 }

.NavbarListItemLink:hover {
	  padding-left: 20px;
  	padding-right: 20px;
  	border-bottom: 0.5px solid #222222;
}

 .NavbarListItemLink_active {
 	text-decoration: none;
  	font-family: "Helvetica Neue";
  	font-size: 16px;
  	line-height: 40px;
  	color: #222222;
  	padding-left: 20px;
  	padding-right: 20px;
  	border-bottom: 0.5px solid #222222;
  	padding-bottom: 11px;
 }

 @media screen and (max-width: 720px) {

  .Header {
    width: 90%;
    height: 100px;
  }

  .CloseImage {
    width: 10px;
    transition: width 0.5s;
    -webkit-transition: width 0.5s;
  }

  .InfoImage {
    width: 13px;
    transition: width 0.5s;
    -webkit-transition: width 0.5s;
  }

  .CarImage {
    position: fixed;
    margin-left: 45px;
    transition: width 0.5s;
    -webkit-transition: width 0.5s;
  }

  .Line1 {
    font-size: 14px;
  }

  .Line2 {
    font-size: 12px;
  }

  .NavbarListItem {
    margin-left: 0px;
    margin-right: 0px;
  }

  .NavbarListItemLink {
    font-size: 14px;
    line-height: 28px;
    transition: font-size 0.5s;
  }

  .NavbarListItemLink:hover {
    padding-bottom: 0px;
  }

  .NavbarListItemLink_active {
    font-size: 14px;
    line-height: 28px;
    padding-bottom: 6px;
  }

}
