
.App {
  position: fixed;
  float: left;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 25px;
  height: 150%;
  max-width: 720px;
  width: 80%;
  overflow:auto;
}

.Content {
  padding-top: 200px;
  background: white;
  height: 150%;
  color: black;
  font-size: 30px;
}


@media screen and (max-width: 720px) {

  .App {
    width: 90%;
  }

  .Content {
    padding-top: 150px;
  }

}