
@import url('https://fonts.googleapis.com/css?family=Sarina');


.Sign{
	width: 90%;
	height: 100px;
	margin: 0 auto;
	background: white;
	border: 2.5px dotted #3d90e3;
	font-family: 'Sarina', cursive;
	text-align: center;
	font-size: 25px;
	margin-bottom: 25px;
}


.Instruction {
	position: absolute;
	font-family: "Helvetica Neue";
  	font-size: 18px;
  	margin-left: 210px;
  	margin-top: -90px;
}

.SignHere {
	position: absolute;
	left: 250px;
	margin-top: 45px;

}

